// 1. Settings (variables, colores, fuentes)
$color-primary: #311429;
$color-secondary: #C92F58;
$color-background: #0f0f11;
$color-text: #ffffff;
$color-tertiary: #2C5E5B;
$color-leyend: #EFE5C3;
$color-step: #5DC2BD;
$color-button: #339B95;
$color-button-hover: #00796b;
$color-expired: #C51414;
$color-footer: #BBBBBB;